<div class="touroku-form">
<h3>MCの新規登録</h3>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :mc_name, class: "fukidashi" %><br />
    <br>
    <%= f.text_field :mc_name, class: "form-control" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :メールアドレス, class: "fukidashi" %><br />
    <br>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :パスワード入力, class: "fukidashi" %>
    <br>
    <br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認, class: "fukidashi" %><br />
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  <br>

  <div style="margin: 8px 0">
            <%= f.text_area :profile, placeholder: '自己紹介', style: 'width: 50%;height: 100px;' %>
  </div>

  <div style="margin: 8px 0">
            <%= f.text_area :discography, placeholder: 'Discography', style: 'width: 50%;height: 100px;' %>
  </div>

  <div style="margin: 8px 0">
            <%= f.text_area :history, placeholder: 'ラップ歴・戦績', style: 'width: 50%;height: 100px;' %>
  </div>

    <div class="field">
      <label class="fukidashi">プロフィール写真</label><br>
      <br>
          <%= f.file_field :avatar %>
          </div>
          <br>

  <div class="actions">
    <%= f.submit "登録する", class: "button button2" %>
  </div>
<% end %>

  </div>