<div class="touroku-form">
<%= form_for [@cyfer] do |f| %>
      <h3>サイファーを登録</h3>
      <br>
      <div>
        <%= f.label :name, :Name, class: "fukidashi" %><br>
        <br>
        <%= f.text_field :name, placeholder: "サイファー名", class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :detail, :Detail, class: "fukidashi" %><br>
        <br>
        <%= f.text_area :detail, placeholder: "サイファーの紹介", size: "30x10", class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :place, :Place, class: "fukidashi" %><br>
        <br>
        <%= f.text_field :place, placeholder: "開催場所", class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.label :date_time, :開催日時, class: "fukidashi" %><br>
        <br>
        <%= f.text_field :date_time, placeholder: "開催日時", class: "form-control" %>
      </div>
      <br>
      <div class="field">
        <label class="fukidashi">プロフィール写真</label><br>
        <br>
          <%= f.file_field :avatar %>
      </div>
      <br>

      <%= f.fields_for :locations do |b| %>
        <%= b.text_field :address, placeholder: "住所", class: "form-control" %>
        <% end %>

      <center><%= f.submit "送信", class: "button button2" %></center>
    <% end %>
  </div>