<div class="mypage-show">
  <div class="block">
    <center><h2><%= @user.mc_name %>のマイページ</h2>
   <%= image_tag @user.avatar, :size => "200pxx300px" %><br>
    <% if current_user && current_user.id == @user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
      <% end %></center>
  </div>
  <div class="block">
    <h3 class="fukidashi">戦歴</h3>
    <p><%= @user.history %></p>
    <br>
  </div>
  <div class="block">
    <h3 class="fukidashi">Discography（音源紹介）</h3>
    <p><%= @user.discography %></p>
    <br>
  </div>
  <div class="block">
    <h3 class="fukidashi">自己紹介</h3>
    <p><%= @user.profile %></p>
    <br>
  </div>

  <div class="block">
    <h3 class="fukidashi">参加予定サイファー</h3>
    <p>
    <% @user.cyfers.each do |cyfer| %>
    <a href="/cyfers/<%= cyfer.id %>"><%= cyfer.name %></a><br>
    <% end %>
  </p>
  <br>
  </div>