<header>
  <div class="heading clearfix">
  <%= link_to root_path, :class => 'navbar-brand' do %>
        <%= image_tag 'warap.jpg' %>
      <% end %>
    <div class="nav-menu clearfix">
    <% if user_signed_in? %>
    <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
    <%= link_to 'マイページ', user_path(current_user) %>
    <%= link_to 'サイファー登録', new_cyfer_path %>
    <% else %>
    <%= link_to 'サインイン', user_session_path %>
    <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
    </div>
  </div>
</header>