<div class="cyfer-list">
<% if @locations.exists? %>
<ul class="col">
      <% @locations.each do |location| %>
        <li class="cyferbox">
          <center>
            <%= image_tag location.cyfer.avatar, :size => "100x300" %>
          </center>
            <h3 class="cyfer-name">
              <span><%= location.cyfer.date_time %></span>
            <%= location.cyfer.name %>
            </h3>
              <p><b><a class="button button1" href="/cyfers/<%= location.cyfer.id %>">サイファーの詳細</a></b></p>
            <br>
        </li>
      <% end %>
    </div>
</ul>
<% else %>
<div class="lp">
 <center><h2><span>あなたが検索した地域では残念ながらサイファーは開催されていません</span></h2><br>
   <p class="fukidashi"><b>ならあなたが一歩を踏み出しましょう！</b></p>
   <br>
   <b><%= link_to 'サイファーの主催者になる！', new_cyfer_path, class: "button button2" %></b>
 <br>
 <br>
  </div>
    </center>
  </div>
<% end %>